In [13]:
# Carga de tabla histórica generada
import pandas as pd

df = pd.read_parquet("../data/historico_us.parquet")
df.head()

,state,Country_Region,Last_Update,Lat,Long_,confirmed,deaths,recovered,active,FIPS,...,UID,ISO3,Testing_Rate,Hospitalization_Rate,Date,People_Tested,Mortality_Rate,report_date,new_cases,new_deaths
15660,Alabama,US,2020-04-12 23:18:15,32.3182,-86.9023,3667,93,0,0,1.0,...,84000001.0,USA,NaN,12.264945,2020-04-12,62029.0,2.536133,2020-04-12,NaN,NaN
15835,Alabama,US,2020-04-13 23:07:54,32.3182,-86.9023,3870,99,0,0,1.0,...,84000001.0,USA,NaN,12.238886,2020-04-13,64636.0,2.558140,2020-04-13,203.0,6.0
16010,Alabama,US,2020-04-14 23:33:31,32.3182,-86.9023,4041,114,0,0,1.0,...,84000001.0,USA,NaN,12.471541,2020-04-14,67557.0,2.821084,2020-04-14,171.0,15.0
16185,Alabama,US,2020-04-15 22:56:51,32.3182,-86.9023,4307,118,0,0,1.0,...,84000001.0,USA,NaN,12.883436,2020-04-15,70823.0,2.739726,2020-04-15,266.0,4.0
16360,Alabama,US,2020-04-16 23:30:51,32.3182,-86.9023,4465,133,0,0,1.0,...,84000001.0,USA,NaN,12.727273,2020-04-16,73878.0,2.978723,2020-04-16,158.0,15.0

In [14]:
#Revisión de calidad de los datos
import pandas as pd

# Inicializar lista de chequeos
verificacion = []

# 1. Duplicados
duplicados = df.duplicated(subset=["state", "report_date"]).sum()
verificacion.append({
    "Chequeo": "Duplicados por estado y fecha",
    "Resultado": duplicados,
    "Interpretación": "✅ Sin duplicados" if duplicados == 0 else "⚠️ Revisar registros duplicados"
})

# 2. Nulos por columnas (solo si > 0)
nulos = df.isna().sum()
for col, val in nulos[nulos > 0].items():
    verificacion.append({
        "Chequeo": f"Valores nulos en '{col}'",
        "Resultado": val,
        "Interpretación": "⚠️ Considera imputar o revisar"
    })

if nulos.sum() == 0:
    verificacion.append({
        "Chequeo": "Valores nulos en todas las columnas",
        "Resultado": 0,
        "Interpretación": "✅ No hay valores nulos"
    })

# 3. Negativos en columnas numéricas clave
negativos = df[["confirmed", "deaths", "recovered", "active"]].lt(0).sum()
for col, val in negativos.items():
    verificacion.append({
        "Chequeo": f"Valores negativos en '{col}'",
        "Resultado": val,
        "Interpretación": "✅ Sin negativos" if val == 0 else "⚠️ Revisar inconsistencias"
    })

# Mostrar tabla final
pd.DataFrame(verificacion)

,Chequeo,Resultado,Interpretación
0,Duplicados por estado y fecha,0,✅ Sin duplicados
1,Valores nulos en 'Last_Update',19,⚠️ Considera imputar o revisar
2,Valores nulos en 'Lat',2142,⚠️ Considera imputar o revisar
3,Valores nulos en 'Long_',2142,⚠️ Considera imputar o revisar
4,Valores nulos en 'FIPS',19,⚠️ Considera imputar o revisar
5,Valores nulos en 'Incident_Rate',2142,⚠️ Considera imputar o revisar
6,Valores nulos en 'Total_Test_Results',24977,⚠️ Considera imputar o revisar
7,Valores nulos en 'People_Hospitalized',56485,⚠️ Considera imputar o revisar
8,Valores nulos en 'Case_Fatality_Ratio',12587,⚠️ Considera imputar o revisar
9,Valores nulos en 'Testing_Rate',15693,⚠️ Considera imputar o revisar
10,Valores nulos en 'Hospitalization_Rate',56485,⚠️ Considera imputar o revisar
11,Valores nulos en 'Date',9860,⚠️ Considera imputar o revisar
12,Valores nulos en 'People_Tested',49798,⚠️ Considera imputar o revisar
13,Valores nulos en 'Mortality_Rate',49587,⚠️ Considera imputar o revisar
14,Valores nulos en 'new_cases',59,⚠️ Considera imputar o revisar
15,Valores nulos en 'new_deaths',59,⚠️ Considera imputar o revisar
16,Valores negativos en 'confirmed',0,✅ Sin negativos
17,Valores negativos en 'deaths',0,✅ Sin negativos
18,Valores negativos en 'recovered',0,✅ Sin negativos
19,Valores negativos en 'active',0,✅ Sin negativos